body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.font-w-900 {
    font-weight: bold;
}


/* button */

.btn {
    cursor: pointer;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    padding: 15px 35px;
    transition: all .4s;
}

.btn-blue {
    background: #0391D3;
    border: 1px solid #0391D3;
}

.btn-blue:focus,
.btn-blue:hover {
    background-color: transparent;
    color: #0391D3;
}

.btn-red {
    background: #F3393A;
    border: 1px solid #F3393A;
}

.btn-red:focus,
.btn-red:hover {
    background-color: #942626;
    border-color: #942626;
}

.text-underline {
    text-decoration: underline;
}


/* /button */


/* color */

.c-blue {
    color: #0391D3;
}

.c-red {
    color: #ff4141;
}

.bg-c {
    background-color: #f8f8f8;
}


/* /color */


/* /global ---------------------------------------------------------------------------------*/


/* heder--------------------------------------------------------------------------------------- */

.header__img {
    width: 30px;
}

.header__select {
    border: none;
    outline: none;
    color: #0391D3;
}

.header {
    background-color: #fff;
    padding: 44px 0px 36px 0px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0px 2px 2px rgb(97, 89, 89, 0.5);
}

.header__container {
    align-items: center;
    justify-content: space-between;
}

.header__container__item {
    align-items: center;
    color: #656565;
}

.header__container__item img {
    margin-right: 7px;
}

.header__container__item p {
    margin: 0;
}

.header__container__item__tel {
    display: block;
    text-decoration: none;
    color: #656565;
    transition: all .1s ease-in-out;
}

.header__container__item__tel:focus,
.header__container__item__tel:hover {
    color: #0391D3;
}